<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<center>
<form id="form">
	<label for="url">Enter Url</label>
	<input type="text" id="url">
	<input type="submit" value="Shorten">
</form>
</center>
<div id="shortened_url"></div>
<a id="urlLink"></a>
<script>
		$('#form').submit(function(e){
			var url={url:$('#url').val()};
			$.ajax({
				url:'api//getShortenedUrl',
				type:'post',
				contentType: 'application/json; charset=utf-8',
    			dataType: 'json',
				data:JSON.stringify(url),
				success:function(message){
					$('#shortened_url').html("Shortened Url:");
					$('#urlLink').attr('href',message.shortenedUrl);
					$('#urlLink').html(message.shortenedUrl);
				}
			});
			e.preventDefault();
		});
	</script>
</body>
</html>